In [1]:
# [국어, 영어, 한국사, 선택1, 선택2]
scores = [88, 73, 89, 59, 77]
f = scores[0]>=60 & scores[1]>=60 & scores[2]>=60 & scores[3]>=60 & scores[4]>=60
print(f)

False

# 리스트 메소드

### append 리스트 맨 뒤에 요소 추가

In [63]:
numbers=[1,2,3,4,5,6,7]
numbers.append(8)
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

### insert(인덱스,요소) 리스트의 원하는 인덱스에 요소를 삽입

In [64]:
numbers.insert(0,0)
numbers.insert(4,0)
numbers.insert(6,0)
numbers.insert(len(numbers),0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

### 리스트1.extend(리스트2) 리스트1맨 뒤로 리스트2요소 삽입, 여러개 삽입

In [65]:
numbers.extend([1997,11])
numbers.extend([27,28])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 1997, 11, 27, 28]

### 리스트.remove(요소) 리스트[요소]에 해당하는 첫 요소를 제거

In [66]:
numbers.remove(1997)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 11, 27, 28]

### 리스트.pop() 리스트 제일 마지막 요소를 리스트에서 제거합니다. 제거한 요소가 반환됩니다

In [67]:
print(numbers.pop())
print(numbers)

28
[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 11, 27]

### 리스트.index(인자) 리스트에서 순서대로 인자와 요소가 같은 것을 찾습니다. 첫번째로 발견된 요소의 인덱스를 반환합니다.

In [69]:
print(numbers.index(5))

7

### 리스트.count(인자) 인자와 같은 것의 개수를 반환합니다

In [70]:
print(numbers.count(0))

4

### 리스트.sort() 리스트 요소를 순서대로 정렬합니다.  
### 리스트.reverse() 리스트 요소를 역순으로 정렬합니다.  
### 반환 값은 둘 다 None

In [71]:
print(numbers.sort())
print(numbers)
print(numbers.reverse())
numbers

None
[0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 27]
None

[27, 11, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0, 0, 0]

### stack Last in, Last out

### 튜플  
 - 리스트와 거의 유사하지만, 수정이 불가하며 불변의 특징을 가집니다.  
 - 소괄호 사이에 요소들을 콤마로 구분지어 작성하며 소괄호는 생략 가능합니다.  
 - 인덱싱,슬라이싱,더하기,곱하기,길이도 구할 수 있습니다.

In [72]:
tuple_variable = (1,2,3,4,"A","B")
tuple_variable

(1, 2, 3, 4, 'A', 'B')

In [73]:
tuplev = "음","오","아","예"
type(tuplev)

tuple

### 튜플과 리스트의 소요시간 비교

In [74]:
import time

curr = time.time() # 시작 시간
total = []
for i in range(1000):
    for j in range(1000):
        total.append((i,j)) # 튜플 생성
last = time.time() # 끝난 시간
print(last - curr)

0.159165620803833

In [75]:
curr = time.time()
total = []
for i in range(1000):
    for j in range(1000):
        total.append([i,j]) # 리스트 생성
last = time.time()
print(last - curr)

0.5136287212371826

### 변수 여럿에 동시 할당하기 (Unpacking)

In [76]:
x1,x2=5,11
print(x1,x2)
print(type(x1))

5 11
<class 'int'>

### 튜플 외에 다른 자료형도 가능합니다

In [77]:
s3,s4,s5=["이렇게","리스트도","가능합니다"]
print(s3,s4,s5)
print(type(s3))

이렇게 리스트도 가능합니다
<class 'str'>

In [78]:
s6,s7,s8,s9="문자열도"
print(s6,s7,s8,s9)
print(type(s8))

문 자 열 도
<class 'str'>

### input() 내장 함수를 사용해서 사용자로부터 값을 받아올 수 있습니다.  
### 이 때 받아온 값은 문자열로 받습니다.  
### input("메시지") →  return 사용자가 입력한 값(str)

In [79]:
a=input("message:")
print(a,"\n",type(a)) # 소수를 입력할 때 (1.51)을 정수로 변환하려면 에러가 발생합니다, 억지로 만드려면 먼저 float으로 받고 int 사용

message: 1.515

1.515
 <class 'str'>

In [57]:
message=input("이름을 입력하시오:")
print(message,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
n1=int(input("첫번째 정수를 입력하세요:"))
n2=int(input("두번째 정수를 입력하세요:"))
print(n1,"과",n2,"의 합은",n1+n2,"입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫번째 정수를 입력하세요: 300
두번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [58]:
mes1 = input("경기장은 어디입니까?")
mes2 = input("이긴 팀은 어디입니까?")
mes3 = input("진 팀은 어디입니까?")
mes4 = input("우수 선수는 누구입니까?")
mes5 = input("스코어는 몇대몇입니까?")

print("[속보]", mes2,"가",mes5,"로 승리...\n오늘",mes1,"경기장에서 야구 경기가 있었습니다.\n",mes2,"와",mes3,"는 치열한 공방전을 펼쳤습니다.\n이 경기에서",mes4,"가 맹활약을 했습니다.\n그 끝내",mes2,"가",mes3,"를",mes5,"로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진 팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
 KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

### 입력 값을 여러 개의 변수에 저장하기  
### split()함수는 인자로 구분하여 문자열을 나눠서 리스트로 반환합니다

In [80]:
result = "1,2,3".split(",")
print(result)
print(type(result))

['1', '2', '3']
<class 'list'>

In [5]:
cur = input("hh:mm:ss의 형태로 시간을 입력해주세요:")
cur2 = cur.split(":")
print("실행 결과:\n시:",cur2[0])
print("분:",cur2[1])
print("초:",cur2[2])
print(cur2)

hh:mm:ss의 형태로 시간을 입력해주세요: 12:33:23

실행 결과:
시: 12
분: 33
초: 23
['12', '33', '23']

In [6]:
h,m,s = input("hh:mm:ss의 형태로 시간을 입력해주세요:").split(":")
print("시:",h)
print("분:",m)
print("초:",s)

hh:mm:ss의 형태로 시간을 입력해주세요: 12:33:23

시: 12
분: 33
초: 23

### map() 내장함수 이용하기 map(functuin,iterable)  
###  map은 리스트의 요소를 지정된 함수로 처리해주는 함수입니다

In [14]:
a = [1.2,2.5,3.7,4.6]
b = list(map(int,a))
c = map(int,a)
print(b)
print(c)

[1, 2, 3, 4]
<map object at 0x000001F86EDC4C10>

In [17]:
kor,eng,mat,sci = map(int,input("국어, 영어, 수학, 과학 점수를 입력해주세요:").split(","))
print("실행 결과\n평균 점수는",(kor+eng+mat+sci)/4,"점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요: 98,100,96,100

실행 결과
평균 점수는 98.5 점입니다.

### 여러 값을 동시에 출력 ,을 사용, 공백으로 되어 있음  
### 값과 값을 구분하는 단위 변경하기, 맨 마지막에 'sep=구분 기호'를 작성하여 다른 문자로 변경 가능합니다.

### 맨 뒤 출력 문자 변경하기  
### print()함수를 여러 차례 사용 했을 때 출력결과가 각 print() 함수마다 줄바꿈이 되어있다. exp) java  
### 맨 뒤에 end=문자열을 넣어 주어 변경할 수 있습니다, sep와 end는 순서가 상관이 없습니다.

In [20]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year,month,day,sep='/',end=' ')
print(hour,minute,second,sep=':')

2021/02/03 18:33:23

In [22]:
apple,orange=map(int,input("사과와 귤을 몇개 드릴까요?").split(","))
print("실행 결과:\n","총 가격은 ",apple*1000+orange*200,"원입니다.",sep="")

사과와 귤을 몇개 드릴까요? 10,20

실행 결과:
총 가격은 14000원입니다.

### 객체 타입을 비교할 땐 is 키워드, 좌 is 우-True or False

In [24]:
age = 39
if 20 <= age < 30:
    print("20대입니다.")
elif 30 <= age < 40:
    print("30대입니다.")
print("감사합니다") # 자바에서는 20 <= age and age < 30 이런식으로 사용해야함

30대입니다.
감사합니다

In [30]:
id = input("아이디를 입력하세요 :")
if id ==  "admin":
    print("최고 관리자, 모든 권한을 갖습니다.")
else:
    grade = int(input("회원 등급을 입력해주세요 :"))
    if 1 <= grade <= 3:
        print("제한적인 권한을 갖습니다.")
    else:
        print("권한이 없습니다.")

아이디를 입력하세요 : biana
회원 등급을 입력해주세요 : 3

제한적인 권한을 갖습니다.